@font-face {
  font-family: "Pt Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "Pt Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Pt Sans", "Tahoma", sans-serif;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  font-size: 14px;
}

.header .container {
  position: relative;

  width: 1200px;
  margin: 0 auto;
  min-height: 56px;

  background-color: #ffffff;
}

.header__logo {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
}

.site-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__link {
  color: #000000;
}

.site-list__link--current {
  color: #766357;
}

.site-list__item:not(:nth-child(1)) .site-list__link:hover,
.site-list__item:not(:nth-child(1)) .site-list__link:focus {
  color: #81b3d2;
}

.site-list__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* intro */

.intro {
  min-height: 510px;
}

.intro .container {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 80px;

  background-color: #87D3E6;
  background-image: url("../img/bg-intro.jpg");
  background-repeat: no-repeat;
  background-position: center -85px;
  background-size: cover;
}

/* features */

.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 65px;

  background-color: #ffffff;
}

.features__title {
  width: 440px;

  font-size: 21px;
}

.features__subtitle {
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;

  line-height: 21px;

  list-style: none;
}

.features__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.features__item:not(:nth-child(1)) {
  height: 256px;
}

.features__item:nth-child(1),
.features__item:nth-child(2) {
  width: 100%;

  color: #ffffff;

  background-color: #81b3d2;
}

.features__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.features__slogan {
  margin: 0;

  font-size: 21px;
}

.features__index {
  font-size: 14px;
  font-weight: 400;
}

.features__desc {
  margin: 0;

  font-size: 14px;
  font-weight: 400;
}

.features__img-wrapper {
  margin: 0;

  line-height: 0;
}

.features__sublist {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  color: #000000;

  background-color: #ffffff;
}

.features__sublist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 330px;
}

.features__sublist-title {
  margin: 0;

  font-size: 21px;
}

.features__sublist-desc {
  margin: 0;

  font-size: 14px;
  font-weight: 400;
}

/* search */
.search .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 55px;

  background-color: #ffffff;
}

.search__title {
  line-height: 36px;
  font-size: 30px;
}

.search__subtitle {
  margin: 0;

  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.search__button {
  width: 568px;
  min-height: 86px;

  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;

  cursor: pointer;
}

.search__button:hover,
.search__button:focus {
  background-color: #604e43;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.search__form {
  display: none;
  width: 568px;
  min-height: 395px;
  padding: 55px;

  font-size: 14px;

  outline: 1px solid grey;
}

.search__input {
  line-height: 26px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.search__input:hover {
  background-color: #ebebeb;
}

.search__input:focus {
  background-color: transparent;
  outline: 2px solid #e5e5e5;
}

.search__input-btn {
  position: relative;

  border: none;
}

.search__input-btn:hover::before,
.search__input-btn:focus::before,
.search__input-btn:hover::after,
.search__input-btn:focus::after {
  background-color: #000000;
}

.search__input-btn:active::before,
.search__input-btn:active::after {
  background-color: #81b3d2;
}

.search__input-btn--remove::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;

  transform: translate(-50%, -50%);
}

.search__input-btn--add::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;

  transform: translate(-50%, -50%);
}

.search__input-btn--add::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 3px;
  height: 12px;

  background-color: #a9a9a9;

  transform: translate(-50%, -50%);
}

.search__calendar {
  background-color: transparent;
  border: none;
}

.search__icon--calendar {
  fill: #cacaca;
}

.search__calendar:hover .search__icon--calendar,
.search__calendar:focus .search__icon--calendar {
  fill: #000000;
}

.search__calendar:active .search__icon--calendar {
  fill: #81b3d2;
}

.search__form-btn {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.search__form-btn:hover,
.search__form-btn:focus {
  background-color: #669ec0;
}

.search__form-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

/* map */

.map .container {
  width: 1200px;
  margin: 0 auto;
}

/* footer */

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding-top: 35px;
  padding-right: 100px;
  padding-left: 132px;
  padding-bottom: 35px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer__hashtag,
.footer__tel {
  font-size: 21px;
  color: #000000;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__link {
  background-color: #81b3d2;
}

.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}

.social__link:active .social__icon {
  opacity: 0.3;
}

.social__link:active {
  background-color: #5496bd;
}

.develop {
  display: flex;
  align-items: center;
  margin: 0;
}

.develop__text {
  font-size: 14px;
  font-weight: 400;
}

.develop__logo:hover .develop__icon,
.develop__logo:focus .develop__icon {
  fill: #81b3d2;
}

.develop__logo:active .develop__icon {
  fill: #bdbbbc;
}


/* hotels.html */

/* filter */

.filter {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.filter .container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 35px;

  background-color: #87D3E6;
  background-image: url("../img/bg-filter.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.form {
  display: flex;
}

.form__group {
  min-height: 160px;
  margin: 0;
  padding: 0;

  border: none;
}

.form__group:nth-child(1) {
  margin-right: 115px;
}

.form__group:nth-child(3) {
  margin-left: auto;
}

.form__subtitle {
  font-size: 16px;
  font-weight: 700;
}

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form__button {
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.form__button:hover,
.form__button:focus {
  color: #000000;

  background-color: #ffffff;
}

/* sort */

.sort {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sort .container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 30px;

  background-color: #ffffff;
}

.sort__match-text {
  margin: 0;
  margin-right: 50px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sort__subtitle {
  margin: 0;
}

.sort__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__item:not(:nth-child(1)) .sort__link {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sort__item:not(:nth-child(1)) .sort__link:hover,
.sort__item:not(:nth-child(1)) .sort__link:focus {
  color: #81b3d2;
}

.sort__item:not(:nth-child(1)) .sort__link:active {
  color: #000000;

  border-color: transparent;
}

.sort__link {
  color: #000000;
}

.sort__link--current {
  color: #81b3d2;
}

.sort__buttons {
  margin-left: auto;
}

.sort__icon {
  fill: #cacaca;
}

.sort__button:hover .sort__icon,
.sort__button:focus .sort__icon {
  fill: #000000;
}

.sort__button:active .sort__icon {
  fill: #81b3d2;
}

/* hotels */

.hotels {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.hotels .container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 70px;
  padding-left: 70px;

  background-color: #ffffff;
}

.hotels__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels__item {
  position: relative;

  display: flex;
  justify-content: space-between;
  height: 155px;
  padding-top: 30px;
  padding-left: 165px;
  padding-bottom: 30px;
}

.hotels__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotels__title:hover,
.hotels__title:focus {
  color: #81b3d2;
}

.hotels__title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels__img-wrap {
  position: absolute;
  top: 50%;
  left: 0;

  margin: 0;

  transform: translateY(-50%);
}

.hotels__subtitle {
  margin: 0;
  padding: 0;

  font-weight: 400;
  color: #333333;
}

.hotels__price {
  margin: 0;

  color: #333333;
}

.read-more-link {
  color: #ffffff;

  background-color: #81b3d2;
}

.read-more-link:hover,
.read-more-link:focus {
  background-color: #669ec0;
}

.read-more-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotels__reserv {
  color: #ffffff;

  background-color: #766357;
}

.hotels__reserv:hover,
.hotels__reserv:focus {
  background-color: #604e43;
}

.hotels__reserv:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotels__rate {
  display: flex;
  margin: 0;
  padding: 0;

  border: none;
}

.hotels__rate-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hotels__rate-group {
  margin: 0;
}

.hotels__rate-title {
  order: 2;
  margin: 0;
}
