@font-face {
  font-family: "Pt Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "Pt Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Pt Sans", "Tahoma", sans-serif;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  font-size: 14px;
}

/* .container {
  box-shadow:
  0 1px 4px rgba(0, 0, 0, 0),
  -5px 0 15px -5px rgba(0, 1, 1, .2),
  5px 0 15px -5px rgba(0, 1, 1, .2),
  0 0 40px rgba(0, 0, 0, 0);
} */

.header .container {
  position: relative;

  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;

}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  transform: translateX(-50%);
}

.main-nav {
  width: 100%;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  width: 239px;
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;
}

.site-list__item:nth-child(2) {
  margin-right: 244px;
}

.site-list__link {
  color: #000000;
}

.site-list__link--current {
  color: #766357;
}

.site-list__link:not(.site-list__link--current):hover,
.site-list__link:not(.site-list__link--current):focus {
  color: #81b3d2;
}

.site-list__link:not(.site-list__link--current):active {
  color: rgba(0, 0, 0, 0.3);
}

/* intro */

.intro .container {
  position: relative;

  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 73px;

  background-color: #87D3E6;
  background-image: url("../img/bg-intro.jpg");
  background-repeat: no-repeat;
  background-position: center -85px;
  background-size: cover;
}

.intro .container::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -3px;

  width: 100%;
  height: 59px;

  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
}

/* features */

.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;

  background-color: #ffffff;
}

.features__title {
  width: 440px;
  margin-bottom: 27px;

  font-size: 21px;
  letter-spacing: 0.4px;
  text-align: center;
}

.features__subtitle {
  max-width: 500px;
  margin: 0;
  margin-bottom: 51px;

  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: #333333;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;

  line-height: 21px;

  list-style: none;

  background-color: #eeeeee;
}

.features__item {
  display: flex;
  flex-wrap: wrap;
  width: 400px;

  color: #333333;
}

.features__item--main {
  width: 100%;

  color: #ffffff;

  background-color: #81b3d2;
}

.features__item:nth-child(2) .features__content {
  padding-right: 45px;
  padding-left: 45px;
}

.features__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 47px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 58px;
}

.features__item:nth-child(1) .features__content,
.features__item:nth-child(2) .features__content {
  padding-bottom: 20px;
}

.features__slogan {
  max-width: 150px;
  margin: 0;
  margin-bottom: 24px;

  font-size: 21px;
  text-align: center;
}

.features__index {
  position: relative;

  max-width: 280px;
  margin-bottom: 21px;

  font-size: 14px;
  font-weight: 400;
}

.features__index::before,
.features__index::after {
  content: "";

  position: absolute;
  top: 50%;

  width: 8px;
  height: 1px;

  background-color: #979797;
}

.features__index::before {
  left: -10px;
}

.features__index::after {
  right: -10px;
}

.features__item--main .features__index::before,
.features__item--main .features__index::after {
  background-color: #ffffff;
}

.features__desc {
  max-width: 303px;
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.features__item:nth-child(5) .features__desc {
  max-width: 258px;
}

.features__img-wrapper {
  margin: 0;

  line-height: 0;
}

.features__sublist {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  color: #000000;

  background-color: #ffffff;
}

.features__sublist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 161px;
  padding-bottom: 81px;
}

.features__sublist-title {
  position: relative;

  margin: 0;
  margin-bottom: 24px;

  font-size: 21px;
}

.features__sublist-title::before {
  content: "";

  position: absolute;
  left: 50%;
  bottom: 50px;

  transform: translateX(-50%);
}

.features__sublist-item:nth-child(1) .features__sublist-title::before {
  width: 75px;
  height: 72px;

  background-image: url("../img/icon-1.svg");
}

.features__sublist-item:nth-child(2) .features__sublist-title::before {
  width: 74px;
  height: 70px;

  background-image: url("../img/icon-3.svg");
}

.features__sublist-item:nth-child(3) .features__sublist-title::before {
  width: 64px;
  height: 76px;

  background-image: url("../img/icon-2.svg");
}

.features__sublist-desc {
  max-width: 300px;
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/* search */
.search .container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 22px;

  background-color: #ffffff;
}

.search__title {
  margin-bottom: 25px;

  line-height: 36px;
  font-size: 30px;
}

.search__subtitle {
  width: 435px;
  margin: 0;
  margin-bottom: 46px;

  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  text-align: center;
}

.search__button {
  width: 568px;
  min-height: 86px;

  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;

  cursor: pointer;
}

.search__button:hover,
.search__button:focus {
  background-color: #604e43;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 52px;
  padding: 0;

  list-style: none;
}

.search__form {
  position: absolute;
  left: 50%;
  bottom: -395px;
  z-index: 1;

  /* display: none; */
  width: 568px;
  min-height: 395px;
  padding-top: 54px;
  padding-right: 55px;
  padding-left: 56px;
  padding-bottom: 55px;

  font-size: 14px;

  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

  transform: translateX(-50%);
}

.search__item:nth-child(1),
.search__item:nth-child(2) {
  width: 100%;
  margin-bottom: 31px;
}

.search__item:nth-child(4) {
  flex-grow: 1;
}

.search__group {
  margin: 0;
}

.search__group--check-in,
.search__group--check-out {
  position: relative;

  display: flex;
  align-items: center;
}

.search__group--age {
  display: flex;
  align-items: center;
}

.search__label {
  max-width: 95px;
}

.search__item:nth-child(3) .search__label {
  margin-right: 35px;
}

.search__item:nth-child(4) .search__label {
  margin-right: 27px;
  margin-left: auto;
}

.search__input-wrapper {
  position: relative;
}

.search__input {
  padding-top: 11px;
  padding-right: 40px;
  padding-left: 43px;
  padding-bottom: 11px;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.search__input:hover {
  background-color: #ebebeb;
}

.search__input:focus {
  background-color: transparent;
  outline: 2px solid #e5e5e5;
}

.search__input::placeholder {
  color: #000000;
}

.search__input:-ms-input-placeholder {
  color: #000000;
}

.search__group--check-in .search__input,
.search__group--check-out .search__input {
  width: 346px;
  margin-left: auto;
  padding-left: 15px;
}

.search__group--age .search__input {
  width: 114px;
  text-align: center;
}

.search__input-btn {
  position: absolute;

  border: none;

  cursor: pointer;
}

.search__input-btn:hover::before,
.search__input-btn:focus::before,
.search__input-btn:hover::after,
.search__input-btn:focus::after {
  background-color: #000000;
}

.search__input-btn:active::before,
.search__input-btn:active::after {
  background-color: #81b3d2;
}

.search__input-btn--remove {
  left: 15px;
  top: 50%;
}

.search__input-btn--remove::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;

  transform: translate(-50%, -50%);
}

.search__input-btn--add {
  top: 50%;
  right: 15px;
}

.search__input-btn--add::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;

  transform: translate(-50%, -50%);
}

.search__input-btn--add::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 3px;
  height: 12px;

  background-color: #a9a9a9;

  transform: translate(-50%, -50%);
}

.search__calendar {
  position: absolute;
  top: 50%;
  right: 7px;

  padding: 0;

  background-color: transparent;
  border: none;

  transform: translateY(-50%);
}

.search__icon--calendar {
  fill: #cacaca;
}

.search__calendar:hover .search__icon--calendar,
.search__calendar:focus .search__icon--calendar {
  fill: #000000;
}

.search__calendar:active .search__icon--calendar {
  fill: #81b3d2;
}

.search__form-btn {
  width: 100%;

  padding-top: 17px;
  padding-bottom: 17px;

  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}

.search__form-btn:hover,
.search__form-btn:focus {
  background-color: #669ec0;
}

.search__form-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

/* map */

.map .container {
  position: relative;

  width: 1200px;
  height: 475px;
  margin: 0 auto;
}

.map__img {
  position: absolute;

  height: 475px;
}

/* footer */

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding-top: 29px;
  padding-right: 100px;
  padding-left: 123px;
  padding-bottom: 35px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer__hashtag,
.footer__tel {
  max-width: 250px;

  font-size: 21px;
  color: #000000;
}

.footer__hashtag {
  margin-bottom: 5px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 160px;
  margin: 0;
  margin-right: 52px;
  padding: 0;

  list-style: none;
}

.social__item:nth-child(1n+4) {
  margin-top: 5px;
}

.social__item:not(:last-child) {
  margin-right: 5px;
}

.social__link {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social__link::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}

.social__link:active {
  background-color: #5496bd;
}
.social__link:active .social__icon {
  opacity: 0.3;
}

.develop {
  display: flex;
  align-items: center;
  margin: 0;
}

.develop__text {
  max-width: 75px;
  margin-right: 7px;

  font-size: 14px;
  font-weight: 400;
}

.develop__logo {
  position: relative;
}

.develop__logo::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.develop__logo:hover .develop__icon,
.develop__logo:focus .develop__icon {
  fill: #81b3d2;
}

.develop__logo:active .develop__icon {
  fill: #bdbbbc;
}


/* hotels.html */

/* filter */

.filter {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.filter .container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 26px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 31px;

  background-color: #87D3E6;
  background-image: url("../img/bg-filter.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.form {
  display: flex;
}

.form__group {
  min-height: 160px;
  margin: 0;
  padding: 0;

  border: none;
}

.form__group:nth-child(1) {
  margin-right: 115px;
}

.form__group:nth-child(3) {
  margin-left: auto;
}

.form__group-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form__subtitle {
  max-width: 200px;
  margin-bottom: 26px;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.form__group:nth-child(3) .form__subtitle {
  margin-left: -5px;
  margin-bottom: 11px;
}

.form__list {
  margin: 0;
  padding: 0;
  padding-left: 39px;

  list-style: none;
}

.form__item:not(:last-child) {
  margin-bottom: 25px;
}

.form__input:disabled + .form__text::before {
  opacity: 0.3;
}

.form__text {
  position: relative;

  max-width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.form__text::before {
  content: "";

  position: absolute;
  left: -37px;
  bottom: 50%;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;

  transform: translateY(50%);
}

.form__input[type=checkbox]:checked + .form__text::before {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}

.range {
  padding-right: 5px;
}

.range__controls--price {
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.form__input--price {
  padding-top: 8px;
  padding-bottom: 8px;

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.form__input--price::placeholder {
  color: #ffffff;
}

.form__input--price::-moz-placeholder {
  opacity: 1;
}

.range__controls--price {
  position: relative;

  margin-bottom: 19px;
}

.range__controls--price::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background-color: #ffffff;

  transform: translateY(-50%);
}

.range__controls--toggle {
  position: relative;
}

.range__scale {
  width: 100%;
  height: 2px;

  background-color: #928381;
}

.range__bar {
  width: 85%;
  height: 2px;

  background-color: #ffffff;
}

.range__toggle {
  position: absolute;
  top: 50%;

  width: 20px;
  height: 20px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;

  transform: translateY(-50%);
}

.range__toggle:hover,
.range__toggle:focus {
  width: 22px;
  height: 23px;

  border-width: 9px;
}

.range__toggle--min {
  left: 0;
}

.range__toggle--max {
  right: 43px;
}

.form__button {
  width: 133px;
  max-width: 200px;
  margin: 0 auto;
  margin-top: auto;
  padding-top: 5px;
  padding-bottom: 5px;

  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.form__button:hover,
.form__button:focus {
  color: #000000;

  background-color: #ffffff;
}

/* sort */

.sort {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sort .container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 30px;

  background-color: #ffffff;
}

.sort__match-text {
  max-width: 150px;
  margin: 0;
  margin-right: 50px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sort__subtitle {
  max-width: 150px;
  margin: 0;
  margin-right: 40px;
}

.sort__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 500px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__list .sort__item {
  max-width: 100px;
}

.sort__list .sort__item:not(:last-child) {
  margin-right: 33px;
}

.sort__item:not(:nth-child(1)) .sort__link {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sort__item:not(:nth-child(1)) .sort__link:hover,
.sort__item:not(:nth-child(1)) .sort__link:focus {
  color: #81b3d2;
}

.sort__item:not(:nth-child(1)) .sort__link:active {
  color: #000000;

  border-color: transparent;
}

.sort__link {
  color: #000000;
}

.sort__link--current {
  color: #81b3d2;
}

.sort__buttons {
  display: flex;
  flex-wrap: wrap;
  max-width: 50px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-top: 2px;
  padding-right: 4px;

  list-style: none;
}

.sort__buttons .sort__item:not(:last-child) {
  margin-right: 12px;
}

.sort__icon {
  fill: #cacaca;
}

.sort__button--current .sort__icon {
  fill: #81b3d2;
}

.sort__button:hover .sort__icon,
.sort__button:focus .sort__icon {
  fill: #000000;
}

.sort__button:active .sort__icon {
  fill: #81b3d2;
}

.sort__button--current:hover .sort__icon,
.sort__button--current:focus .sort__icon {
  fill: #81b3d2;
}

/* hotels */

.hotels {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.hotels .container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}

.hotels__list {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}

.hotels__item {
  position: relative;

  display: flex;
  padding-top: 24px;
  padding-right: 69px;
  padding-left: 236px;
  padding-bottom: 30px;
}

.hotels__item:first-child::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #e5e5e5;
}

.hotels__item::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #e5e5e5;
}

.hotels__item:nth-child(2),
.hotels__item:nth-child(3) {
  padding-top: 27px;
}

.hotels__col {
  position: relative;
}

.hotels__col:nth-child(2) {
  margin-left: auto;
}

.hotels__title {
  max-width: 250px;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotels__title-link {
  letter-spacing: 0.3px;

  color: #000000;
}

.hotels__title-link:hover,
.hotels__title-link:focus {
  color: #81b3d2;
}

.hotels__title-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels__img-wrap {
  position: absolute;
  bottom: 50%;
  left: -165px;

  max-height: 90px;
  margin: 0;

  transform: translateY(50%);
}

.hotels__subtitle {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
  margin: 0;
  margin-right: 34px;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.hotels__item:nth-child(2) .hotels__subtitle {
  margin-right: 61px;
}

.hotels__item:nth-child(3) .hotels__subtitle {
  margin-right: 18px;
}

.hotels__type {
  margin-bottom: 13px;
}

.hotels__price {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;

  color: #333333;
}

.hotels__link {
  padding-top: 3px;
  padding-right: 15px;
  padding-bottom: 3px;
  padding-left: 15px;

  font-weight: 700;
}

.read-more-link {
  display: inline-block;
  vertical-align: middle;
  min-width: 110px;
  max-width: 150px;
  margin-right: 3px;

  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.read-more-link:hover,
.read-more-link:focus {
  background-color: #669ec0;
}

.read-more-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotels__reserv {
  display: inline-block;
  vertical-align: middle;
  min-width: 142px;
  max-width: 150px;

  text-align: center;
  color: #ffffff;

  background-color: #766357;
}

.hotels__reserv:hover,
.hotels__reserv:focus {
  background-color: #604e43;
}

.hotels__reserv:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotels__rate {
  height: 100%;
  margin: 0;
  padding: 0;

  border: none;
}

.hotels__rate-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 2px;
}

.hotels__rate-title {
  order: 2;
  max-width: 150px;
  margin: 0;
  padding-left: 17px;
  padding-right: 17px;

  color: #666666;

  background-color: #f2f2f2;
}

.hotels__rate-list {
  display: flex;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  list-style: none;
}

.hotels__rate-item:not(:last-child) {
  margin-right: 24px;
}

.hotels__rate-label {
  position: relative;
}

.hotels__rate-label::before {
  content: "";

  position: absolute;
  right: 4px;

  width: 18px;
  height: 17px;

  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
}


